// contentelements
div, p, ul {
  &.two-columns {
    @include breakpoint(medium) {
      column-count: 2;
    }
    column-count: 1;
    column-gap: $column-gutter;
  }
  &.three-columns {
    column-count: 1;
    column-gap: $column-gutter;

    @include breakpoint(medium) {
      column-count: 2;
      column-gap: $column-gutter;
    }

    @include breakpoint(large) {
      column-count: 3;
      column-gap: $column-gutter;
    }
  }
}

.ce-above {
  .ce-image-wrapper {
    margin-bottom: rem-calc(25);
  }
}

.mainContent {
  & > .row.ce-fixed-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.ce-text-center {
  .pa-fallback-image {
    margin-left: auto;
    margin-right: auto;
  }
}