/* Copy Text */

@include define-placeholder-not-exists('COPY') {
  font-family: $font-1;
  font-size: rem-calc(20);
  line-height: rem-calc(33);

  @media #{$medium-up} {
    font-size: rem-calc(20);
  }
}

/* Headline Typos */

@include define-placeholder-not-exists('H1') {
  font-family: $font-2;
  font-size: rem-calc(45);
  line-height: 1.1;

  @media #{$medium-up} {
    font-size: rem-calc(106);
  }
}

@include define-placeholder-not-exists('H2') {
  font-family: $font-2;
  font-size: rem-calc(30);
  line-height: 1.2;

  @media #{$medium-up} {
    font-size: rem-calc(67);
    line-height: 1;
  }
}

@include define-placeholder-not-exists('H3') {
  font-family: $font-2;
  font-size: rem-calc(25);
  line-height: 1.2;

  @media #{$medium-up} {
    font-size: rem-calc(40);
  }
}

/* Sublines Typos */

@include define-placeholder-not-exists('S1') {
  font-family: $font-2;
  font-size: rem-calc(16);
  line-height: 1.2;

  @media #{$medium-up} {
    font-size: rem-calc(35);
  }
}

@include define-placeholder-not-exists('S2') {
  font-family: $font-2;
  font-size: rem-calc(14);
  line-height: 1.2;

  @media #{$medium-up} {
    font-size: rem-calc(25);
  }
}

@include define-placeholder-not-exists('S3') {
  font-family: $font-3;
  font-size: rem-calc(14);
  line-height: 1.2;

  @media #{$medium-up} {
    font-size: rem-calc(20);
  }
}

/* Sonderformate */
@include define-placeholder-not-exists('SO1') {
  font-family: $font-3;
  font-size: rem-calc(22);
  line-height: 1.2;
}

@include define-placeholder-not-exists('SO3') {
  font-family: $font-3;
  font-size: rem-calc(14);
  line-height: 1.2;
}

@include define-placeholder-not-exists('SO4') {
  font-family: $font-3;
  font-size: rem-calc(22);
  line-height: 1.2;
}

@include define-placeholder-not-exists('SO5') {
  font-family: $font-3;
  font-size: rem-calc(16);
  line-height: 1.2;
}

@include define-placeholder-not-exists('SO6') {
  font-family: $font-4;
  font-size: rem-calc(28);
  line-height: 1.2;
}

/* Headlines */
@include define-placeholder-not-exists('HEADLINE1') {
  @extend %H1;
  color: $color-f1;
  display: block;
  margin: rem-calc(2 0 30);
}

@include define-placeholder-not-exists('HEADLINE2') {
  @extend %H2;
  color: $color-f1;
  display: block;
  margin: rem-calc(2 0 30);
}

@include define-placeholder-not-exists('HEADLINE3') {
  @extend %H3;
  color: $color-f1;
  display: block;
  margin: rem-calc(2 0 30);
}

/* Sublines */
@include define-placeholder-not-exists('SUBLINE1') {
  @extend %S1;
  color: $color-f1;
  display: block;
}

@include define-placeholder-not-exists('SUBLINE2') {
  @extend %S2;
  color: $color-f1;
  display: block;
}

@include define-placeholder-not-exists('SUBLINE3') {
  @extend %S3;
  color: $color-f1;
  display: block;
}

/* Buttons */
@include define-placeholder-not-exists('BUTTON') {
  @extend %SO5;
  color: $color-f2;
  padding: rem-calc(8 18);
  text-decoration: none;
}

@include define-placeholder-not-exists('GHOSTBUTTON') {
  @extend %SO3;
  color: $color-f1;
  padding: rem-calc(8 18);
  text-decoration: none;
}

@include define-placeholder-not-exists('EXTERNAL') {
  @include cssicon(external);
}