//Hauptfarben
$color-f1: #2B2D2D !default;
$color-f2: #FFFFFF !default;
$color-f3: #009cb4 !default;
$color-f4: #2ADBF7 !default;
$color-f5: #363838 !default;

//Nebenfarben
$color-f6: #6A6C6C !default;
$color-f7: #959696 !default;

//Fonts
$font-1: Arial, Helvetica, sans-serif !default;
$font-2: Arial, Helvetica, sans-serif !default;
$font-3: Arial, Helvetica, sans-serif !default;
$font-4: Arial, Helvetica, sans-serif !default;
$font-5: Arial, Helvetica, sans-serif !default;
$font-6: Arial, Helvetica, sans-serif !default;
$font-7: Arial, Helvetica, sans-serif !default;

$default-transition-time: .3s !default;
$default-transition-easing: ease-in-out !default;
$default-transition: all $default-transition-time $default-transition-easing !default;