$phonelink-button-size-small: 48px !default;
$phonelink-button-size-medium: 81px !default;

@include define-placeholder-not-exists('PHONELINK') {
  @extend %SO6;
  @include cssicon(call,after);

  color: $color-f7;
  text-decoration: none;

  &:after {
    border-radius: 50%;
    box-shadow: $ripple-button-box-shadow;
    background-color: $color-f7;
    color: $color-f2;
    display: inline-block;
    height: $phonelink-button-size-small;
    line-height: $phonelink-button-size-small;
    margin-left: rem-calc(10);
    text-align: center;
    text-decoration: none;
    width: $phonelink-button-size-small;

    @media #{$medium-up} {
      height: $phonelink-button-size-medium;
      line-height: $phonelink-button-size-medium;
      width: $phonelink-button-size-medium;
    }
  }

  &:hover {
    &:after {
      box-shadow: $ripple-button-hover-box-shadow;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

a {
  &.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
    text-decoration: none;
    color: $color-f1;

    small {
      color: $color-f1;
    }

    &:link, &:visited {
      opacity: 1;
    }

    &:hover {
      color: $color-f2;
      small {
        color: $color-f2;
      }
    }

    &:active {
      color: $color-f2;
      small {
        color: $color-f2;
      }
    }


  }

  &.more, p.more & {
    @extend %BUTTON;
    display: inline-block;
  }

  p & {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }
}

p.more {
  text-align: right;
}

a[href^="tel"] {
  @extend %PHONELINK;
}

a.external {
  @extend %EXTERNAL;
}

.pa-extended-fsc-morelink {
  a {
    @extend %BUTTON;
    font-family: $font-1;
    color: $color-f4;
    text-decoration: none;

    &:hover {
      color: $color-f4;
      text-decoration: none;
    }
  }
}