$mainmenu-border-bottom-color: $color-f4 !default;
$mainmenu-link-color: $color-f4 !default;
$mainmenu-link-hover-color: $color-f2 !default;

$simple-navigation-link-color: $color-f1 !default;

.main-menu, .top-nav-menu, .footer-menu, .simple-navigation {
  a {
    transition: $default-transition;
  }
}

.main-menu {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;

    a {
      @extend %SO1;
      border-bottom: 1px solid $mainmenu-border-bottom-color;
      color: $mainmenu-link-color;
      display: block;
      outline: 0;
      padding: rem-calc(12 20);
      text-align: center;
      text-decoration: none;

      &:hover {
        color: $mainmenu-link-hover-color;
      }
    }
  }

  @media #{$medium-up} {
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      display: inline;

      a {
        display: inline-block;
        border-bottom: none;
      }
    }
  }
}

.top-nav-menu {
  ul {
    font-size: rem-calc(13);
    line-height: 1em;
    padding: 0;
  }

  li {
    display: block;
    margin-top: rem-calc(5);
    overflow: hidden;

    a {
      @extend %SO1;
      color: $mainmenu-link-color;
      float: right;
      font-size: rem-calc(13);
      text-decoration: none;

      &:hover {
        color: $mainmenu-link-hover-color;
      }
    }
  }

  @media #{$medium-up} {
    list-style-type: none;

    li {
      border-left: 1px solid $color-f3;
      display: inline;
      margin-left: rem-calc(10);
      margin-top: 0;
      overflow: visible;
      padding-left: rem-calc(10);

      &:first-child {
        border-left: none;
        float: none;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        display: inline-block;
        border-bottom: none;
      }
    }
  }
}

.footer-menu {
  font-size: rem-calc(14);

  a {
    border-bottom: 1px solid white;

    &:hover {
      border-bottom: 1px solid $color-f3;
    }
  }
}

nav.simple-navigation {
  list-style: none;

  li {
    list-style-image: none;
    list-style-type: none;

    a {
      color: $simple-navigation-link-color;
      text-decoration: none;
    }
  }

  @media #{$medium-up} {
    list-style-type: none;

    li {
      margin: 0;
      margin-left: rem-calc(15);
      padding: 0;
      display: inline;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: inline-block;
        border-bottom: none;
      }
    }
  }
}
